// common
.Button {
  all: unset;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  outline: 2px solid transparent;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: var(--white);
  font: 400 14px / 14px var(--font-family-main);
  transition:
    background-color var(--transition-main),
    box-shadow var(--transition-main),
    transform var(--transition-main);

  &.fullWidth {
    width: 100%;
  }

  &.disabled {
    cursor: default;
    transform: none;
    opacity: 0.5;
    box-shadow: none;
    transition: none;
  }

  // active state for button click effect
  &:active {
    transform: translateY(1px); // Эффект вдавливания
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); // Легкая тень при нажатии
  }

  // focus-visible state
  &:focus-visible {
    outline: 2px solid #7653fc; // Ваш цвет для фокуса
    box-shadow: 0 0 0 2px rgba(118, 83, 252, 0.5); // Подсветка вокруг кнопки
  }
}

// variants:
// primary - по умолчанию (основная кнопка)
.primary {
  color: var(--white);
  background-color: #7653fc; // Основной цвет

  .down {
    transform: rotate(90deg);
    transition: var(--transition-main);
  }

  svg {
    stroke: var(--white);
  }

  &:hover {
    background-color: #5e45d4; // Более темный оттенок для ховера
  }

  &:active {
    background-color: #4e3cbb; // Темно-синий цвет для активного состояния
  }

  &:focus-visible {
    outline: 2px solid #7653fc; // Ваш цвет для фокуса
  }
}

// ghost - без фона с рамкой серой
.ghost {
  color: var(--black);
  background: none;
  border: 1px solid var(--gray-light);

  .down {
    transform: rotate(90deg);
    transition: var(--transition-main);
  }

  &:hover {
    color: var(--white);
    background-color: #7653fc; // Основной цвет
  }

  &:active {
    border-color: #4e3cbb; // Темно-синий цвет для активного состояния
    background-color: #4e3cbb;
  }

  &:focus-visible {
    outline: 1px solid #7653fc; // Ваш цвет для фокуса
  }
}

// при наведении из серой стрелки на белую
.ghost:hover svg {
  stroke: var(--white);
}

.arrow {
  display: inline-flex;
  margin-left: 10px;
}

.right {
  transform: rotate(0deg);
  transition: var(--transition-main);
}

// link - кнопка как ссылка
.link {
  color: #7653fc; // Основной цвет ссылки
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover:not(.disabled) {
    color: #5e45d4; // Более темный оттенок для ховера
    text-decoration: underline;
  }

  &:active {
    color: #4e3cbb; // Темно-синий цвет для активного состояния
  }

  &:focus-visible {
    outline: 2px solid #7653fc; // Ваш цвет для фокуса
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    color: #999; // Серый цвет для отключенной ссылки
    text-decoration: none;
    opacity: 0.5;
  }
}
