// common
.Button {
  all: unset;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  outline: 2px solid transparent;

  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: var(--white);
  font: 400 14px / 14px var(--font-family-main);
  transition: var(--transition-main);

  &.fullWidth {
    width: 100%;
  }

  &.disabled {
    cursor: default;
    transform: none;
    opacity: 0.5;
    box-shadow: none;
    transition: none;
  }
}

// variants -------------
// primary
.primary {
  color: var(--white);
  background-color: var(--primary);

  .down {
    transform: rotate(90deg);
    transition: var(--transition-main);
  }
}

.primary svg {
  stroke: var(--white);
}

.primary:hover {
  background-color: var(--primary-hover);
}

// ghost - без фона с рамкой серой
.ghost {
  color: var(--black);
  background: none;
  border: 1px solid var(--gray-light);

  .down {
    transform: rotate(90deg);
    transition: var(--transition-main);
  }
}

.ghost:hover {
  color: var(--white);
  background-color: var(--primary);
}

// при наведении из серой стрелки на белую
.ghost:hover svg {
  stroke: var(--white);
}


.arrow {
  display: inline-flex;
  margin-left: 10px;
}

.right {
  transform: rotate(0deg);
  transition: var(--transition-main);
}
