.Rating {
  margin-right: 5px;
}

.starWrapper {
  cursor: pointer;
}

.filledSvg .star {
  fill: var(--primary);
}

.editable .star {
  cursor: pointer;
  transition: fill 0.3s;
}

.editable {
  cursor: pointer;
}
