.wrapper {
  margin-top: 20px;
}

.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  // дочки все по центру выровняли относительно родителя
  align-items: baseline;
  // сами дочки влево сдвинули
  justify-items: left;
  gap: 20px;

  font: 500 26px / 35px var(--font-family-main);
  color: #3b434e;
}

.products {
}

.hhTitle {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  justify-items: left;
  gap: 20px;
}

.RootHh {
}

.hhCount {
}

.hhStatTitle {
}
.hhStatCount {

}
